<?xml version="1.0"?>
<model>
  <name>jardim</name>
  <version>1.0</version>
  <sdf version='1.5'>jardim.sdf</sdf>

  <author>
   <name>Gabriel Brasil</name>
   <email>1gabrielbrasil@gmail.com</email>
  </author>

  <description>
    Modelo de grama para testar o cortador de grama
  </description>
</model>
